<div>
    <h2>This is from Data component</h2>
    <h3>ProductId: {{productId}}</h3>
    <h3>Description: {{description}}</h3>
    <h3>Brand: {{brand}}</h3>
    <h3>Price: {{price}}</h3>
    <h3>In stock: {{isAvailable}}</h3>
    <h3><input type="text" name="orderedQty" [(ngModel)] = "orderedQty"> {{orderedQty}}
        <input type="button" name="orderBtn" value="Order" (click)="placeOrder()" [disabled]="orderedQty <= 0">
    </h3>

    <div>
        <h3>Are you a member?</h3>
        <input type="checkbox" name="Check" [(ngModel)]="isMember">
    </div>

    <div *ngIf="isMember; else nonmember">
        <h2>Members Area</h2>
        <h3>The following are your valued offers</h3>
        <h4>Discount vouchers upto ₹5000 on booking flights</h4>
        <h4>5% Discount on purchase of Gold Ornaments worth ₹200000 and above</h4>
        {{isMember}}
    </div>
    
    <ng-template #nonmember>
        <h2>Non-Members Area</h2>
        <h3>Hurry! register to avail 5 bonus offers free</h3>
        <h3>On registration you will be eligible for a Platinum Credit Card</h3>
        {{isMember}}
    </ng-template>

    <h3>
        Free shipping<span [style.background-color] = "freeShipping"> > &nbsp;&nbsp;</span>
    </h3>
</div>

<hr>
<div>
    <table border="5">
        <thead>
          <tr>
            <th>Product ID</th>
            <th>Description</th>
            <th>Brand</th>
            <th>Available Quantity</th>
            <th>Price</th>
            <th>Free Shipping</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of products">
            <td>{{item.productId}}</td>
            <td>{{item.description}}</td>
            <td>{{item.brand}}</td>
            <td>{{item.availableQty}}</td>
            <td>{{item.price}}</td>
            <td>{{item.freeShipping}}</td>
          </tr>
        </tbody>
      </table>      
</div>

<hr>
<div>
  <table border="1">
      <thead>
          <tr>
              <th>Product ID</th>
              <th>Description</th>
              <th>Brand</th>
              <th>Quantity</th>
              <th>Price</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let product of products2">
              <td>{{product.productId}}</td>
              <td>{{product.description}}</td>
              <td>{{product.brand}}</td>
              <td>{{product.qty}}</td>
              <td>{{product.price}}</td>
          </tr>
      </tbody>
  </table>
</div>